@font-face {
	font-family: "icons";
	src: url('./icons.eot');
	src: url('./icons.eot?#iefix') format('eot'),
		url('./icons.woff') format('woff'),
		url('./icons.ttf') format('truetype'),
		url('./icons.svg#icons') format('svg');
}

.:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.-icon-add-attach:before {
	content: "\E001";
}

.-icon-add-attribute:before {
	content: "\E002";
}

.-icon-add-object:before {
	content: "\E003";
}

.-icon-add-relationship:before {
	content: "\E004";
}

.-icon-add-to-folder:before {
	content: "\E005";
}

.-icon-add-value:before {
	content: "\E006";
}

.-icon-add-workspace:before {
	content: "\E007";
}

.-icon-addfolder:before {
	content: "\E008";
}

.-icon-alert:before {
	content: "\E009";
}

.-icon-attach:before {
	content: "\E00A";
}

.-icon-attribute:before {
	content: "\E00B";
}

.-icon-barchart:before {
	content: "\E00C";
}

.-icon-book:before {
	content: "\E00D";
}

.-icon-bookmark:before {
	content: "\E00E";
}

.-icon-bound-markers:before {
	content: "\E00F";
}

.-icon-calendar:before {
	content: "\E010";
}

.-icon-check-filled:before {
	content: "\E011";
}

.-icon-check:before {
	content: "\E012";
}

.-icon-clipboard:before {
	content: "\E013";
}

.-icon-clock:before {
	content: "\E014";
}

.-icon-close-filled:before {
	content: "\E015";
}

.-icon-close:before {
	content: "\E016";
}

.-icon-cloud-tag-toggle:before {
	content: "\E017";
}

.-icon-cloud:before {
	content: "\E018";
}

.-icon-cluster:before {
	content: "\E019";
}

.-icon-clustermapmarker:before {
	content: "\E01A";
}

.-icon-collapse-all:before {
	content: "\E01B";
}

.-icon-collapse:before {
	content: "\E01C";
}

.-icon-comment:before {
	content: "\E01D";
}

.-icon-contract-circle:before {
	content: "\E01E";
}

.-icon-csv:before {
	content: "\E01F";
}

.-icon-datapool:before {
	content: "\E020";
}

.-icon-default-search:before {
	content: "\E021";
}

.-icon-deselect-all:before {
	content: "\E022";
}

.-icon-doc:before {
	content: "\E023";
}

.-icon-document-page-open:before {
	content: "\E024";
}

.-icon-download:before {
	content: "\E025";
}

.-icon-downloadcsv:before {
	content: "\E026";
}

.-icon-downsearch:before {
	content: "\E027";
}

.-icon-drafting-compass:before {
	content: "\E028";
}

.-icon-edit-circle:before {
	content: "\E029";
}

.-icon-edit:before {
	content: "\E02A";
}

.-icon-email:before {
	content: "\E02B";
}

.-icon-expand-circle:before {
	content: "\E02C";
}

.-icon-expand-window-solid:before {
	content: "\E02D";
}

.-icon-expand:before {
	content: "\E02E";
}

.-icon-fieldscustom:before {
	content: "\E02F";
}

.-icon-fieldslist:before {
	content: "\E030";
}

.-icon-file-type-audio:before {
	content: "\E031";
}

.-icon-file-type-csv:before {
	content: "\E032";
}

.-icon-file-type-image:before {
	content: "\E033";
}

.-icon-file-type-pdf:before {
	content: "\E034";
}

.-icon-file-type-ppt:before {
	content: "\E035";
}

.-icon-file-type-video:before {
	content: "\E036";
}

.-icon-file-type-xml:before {
	content: "\E037";
}

.-icon-filter:before {
	content: "\E038";
}

.-icon-flag:before {
	content: "\E039";
}

.-icon-flat:before {
	content: "\E03A";
}

.-icon-folder:before {
	content: "\E03B";
}

.-icon-gear:before {
	content: "\E03C";
}

.-icon-globe-countries:before {
	content: "\E03D";
}

.-icon-globe:before {
	content: "\E03E";
}

.-icon-highlight:before {
	content: "\E03F";
}

.-icon-home:before {
	content: "\E040";
}

.-icon-image-save:before {
	content: "\E041";
}

.-icon-image:before {
	content: "\E042";
}

.-icon-info:before {
	content: "\E043";
}

.-icon-ingest:before {
	content: "\E044";
}

.-icon-last-updated:before {
	content: "\E045";
}

.-icon-leftarrow:before {
	content: "\E046";
}

.-icon-less-filled:before {
	content: "\E047";
}

.-icon-less:before {
	content: "\E048";
}

.-icon-linechart:before {
	content: "\E049";
}

.-icon-list:before {
	content: "\E04A";
}

.-icon-lock:before {
	content: "\E04B";
}

.-icon-ltarrow:before {
	content: "\E04C";
}

.-icon-make-primary:before {
	content: "\E04D";
}

.-icon-map-marker-toggle:before {
	content: "\E04E";
}

.-icon-map-target:before {
	content: "\E04F";
}

.-icon-mapmarker-minus:before {
	content: "\E050";
}

.-icon-mapmarker-outlined:before {
	content: "\E051";
}

.-icon-mapmarker-plus:before {
	content: "\E052";
}

.-icon-mapmarker:before {
	content: "\E053";
}

.-icon-marker:before {
	content: "\E054";
}

.-icon-max-window-size:before {
	content: "\E055";
}

.-icon-menu-sm:before {
	content: "\E056";
}

.-icon-menu:before {
	content: "\E057";
}

.-icon-more-filled:before {
	content: "\E058";
}

.-icon-more:before {
	content: "\E059";
}

.-icon-moredots:before {
	content: "\E05A";
}

.-icon-movetofolder:before {
	content: "\E05B";
}

.-icon-newwindow:before {
	content: "\E05C";
}

.-icon-next:before {
	content: "\E05D";
}

.-icon-nineclrdots:before {
	content: "\E05E";
}

.-icon-ninedots:before {
	content: "\E05F";
}

.-icon-normal-window-size:before {
	content: "\E060";
}

.-icon-not-validated:before {
	content: "\E061";
}

.-icon-notes:before {
	content: "\E062";
}

.-icon-notifications:before {
	content: "\E063";
}

.-icon-object-card-open:before {
	content: "\E064";
}

.-icon-object-page-open:before {
	content: "\E065";
}

.-icon-object:before {
	content: "\E066";
}

.-icon-octagon:before {
	content: "\E067";
}

.-icon-onecolumn:before {
	content: "\E068";
}

.-icon-organize:before {
	content: "\E069";
}

.-icon-piechart:before {
	content: "\E06A";
}

.-icon-plus-circle-filled:before {
	content: "\E06B";
}

.-icon-plus:before {
	content: "\E06C";
}

.-icon-pop-out:before {
	content: "\E06D";
}

.-icon-previous:before {
	content: "\E06E";
}

.-icon-produce:before {
	content: "\E06F";
}

.-icon-question:before {
	content: "\E070";
}

.-icon-redo:before {
	content: "\E071";
}

.-icon-refresh:before {
	content: "\E072";
}

.-icon-relationship:before {
	content: "\E073";
}

.-icon-remove-circle:before {
	content: "\E074";
}

.-icon-rightarrow:before {
	content: "\E075";
}

.-icon-rtarrow:before {
	content: "\E076";
}

.-icon-save:before {
	content: "\E077";
}

.-icon-saveas:before {
	content: "\E078";
}

.-icon-saveddoc:before {
	content: "\E079";
}

.-icon-savedsearch:before {
	content: "\E07A";
}

.-icon-search-hamburger:before {
	content: "\E07B";
}

.-icon-search-minus:before {
	content: "\E07C";
}

.-icon-search-plus:before {
	content: "\E07D";
}

.-icon-search:before {
	content: "\E07E";
}

.-icon-self-created:before {
	content: "\E07F";
}

.-icon-share:before {
	content: "\E080";
}

.-icon-shared-workspace:before {
	content: "\E081";
}

.-icon-sna-all-paths:before {
	content: "\E082";
}

.-icon-sna-shortest-path:before {
	content: "\E083";
}

.-icon-sna-show-only-selected:before {
	content: "\E084";
}

.-icon-sna-spotlight-selected:before {
	content: "\E085";
}

.-icon-sna-zoom-to-selected:before {
	content: "\E086";
}

.-icon-sna:before {
	content: "\E087";
}

.-icon-sort-arrows:before {
	content: "\E088";
}

.-icon-speech-bubble:before {
	content: "\E089";
}

.-icon-star-filled:before {
	content: "\E08A";
}

.-icon-star:before {
	content: "\E08B";
}

.-icon-table:before {
	content: "\E08C";
}

.-icon-tag-solid:before {
	content: "\E08D";
}

.-icon-tag:before {
	content: "\E08E";
}

.-icon-threecolumn:before {
	content: "\E08F";
}

.-icon-thumbnail-view:before {
	content: "\E090";
}

.-icon-thumbsdn:before {
	content: "\E091";
}

.-icon-thumbsup:before {
	content: "\E092";
}

.-icon-timeselection:before {
	content: "\E093";
}

.-icon-transfer:before {
	content: "\E094";
}

.-icon-trashcan:before {
	content: "\E095";
}

.-icon-tree:before {
	content: "\E096";
}

.-icon-tweet:before {
	content: "\E097";
}

.-icon-twocolumn:before {
	content: "\E098";
}

.-icon-undo:before {
	content: "\E099";
}

.-icon-user:before {
	content: "\E09A";
}

.-icon-value:before {
	content: "\E09B";
}

.-icon-video:before {
	content: "\E09C";
}

.-icon-view:before {
	content: "\E09D";
}

.-icon-workspace:before {
	content: "\E09E";
}
